h1{
text-align: center;


}


img{
border-radius: 360px;


}

.div_1{
display: flex;
}



p{
text-align: center;
font-size: larger;
}


h3{

font-size: larger;

}

body{
background-color: rgb(255, 173, 173);


}