
#perr{
    display: flex;
    background-color:#2A9DCE;
    width: 580px;
    height: 400px;
    border-radius: 25px;
}

body{
    background-color: rgb(199, 199, 199);

}


#email{
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border-color: aquamarine;
    background-color: #82B6CE;

}

#password{
    width: 200;
    height: 30px;
    border-radius: 6px;
    border-color: aquamarine;
    background-color:#82B6CE;
}


button{
    display: block;
    margin: auto;
    width: 200;
    height: 30px;
    background-color: aqua;
    border-right: #2B62AC;
    border-left: #2B62AC;
    border-bottom: #2B62AC;
    border-top: #2B62AC;
    border-radius: 6px;
    color: #0789c0;
}



#child{
    height: 400px;
    width: 320px;
    border-radius: 25px;
    margin-right: 50px;
    background-size: cover;

}
h3{
    text-align: center;
    color: #69c6db;
}


::placeholder{
    color: rgb(148, 252, 252);


}